.menu {
    padding: 10px;
    flex : 1 1 auto ;
    margin: 10px;
    padding: 10px;
    box-shadow: 10 10 3 black;
 }

 .AjoutETUDIANT{
    background-color: aqua;
 }

.main-body {
   padding-top: 20px;
   margin: 0 auto;
   max-width: 1248px;
   mat-form-field{
      width: 100%;
   }
}
 